# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/MLProject/.vs/MLProject/v16
/MLProject/AI/Debug
/MLProject/AI/Release
/MLProject/Debug
/MLProject/Gradient-Descent/Debug
/MLProject/Gradient-Descent/Release
/MLProject/Release
/MLProject/Test/Debug
/MLProject/Test/Release
*.user
*.filters
/.vs
/MLProject/Output/Debug
/MLProject/Matrix/Debug
/MLProject/Matrix/Release
/MLProject/Output/Release
